#top {
    background-image: url('https://cdna.artstation.com/p/assets/images/images/071/516/600/large/chloe-swintak-bgspace.jpg?1705358649');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 25%;
}